.root-element {
    background: whitesmoke;
}

.header {
    font-size: 30px;
    color: darkviolet;
}

.option-button {
    background: darkslateblue;
    color: violet;
    font-size: 20px;
    border-radius: 20px;
}

.input-field {
    margin: 20px;
    font-size: 20px;
}

.output-field {
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    font-size: 20px;
}

.graph-button {
    font-size: 16px;
    margin-right: 20px;
    background: darkslateblue;
    color: violet;
}

.variable-label {
    margin-left: 20px;
    font-size: 24px;
}

.plot-contents {
    margin: 30px 15px 15px;
    font-size: 20px;
}
